@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom Scrollbar */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #475569; /* slate-600 */
    border-radius: 20px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #64748b; /* slate-500 */
  }
  
  /* Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #475569 transparent;
  }
}
